
        

.body{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    color: black;
}
.b-left{
    display:flex;
    position: relative;
    flex:1;
    flex-direction: column;
    gap: 2rem;
}
.b-right{
    flex:1;
    flex-direction: row;

}
.b-name{
    display: flex;
    flex-direction: column;
}
.hire{
    border-radius: 10px;
    border: 10px;
    color: aliceblue;
    background-color:#fdc50f ;
    padding: 10px;
    flex:1;
    cursor: pointer;
    background:linear-gradient(180deg,#fdc50f 26.71%,#fb982f 99.36%);
    box-shadow : 0px 20px 24px 3px rgba(251,161,40,0.42);

  
   
}
.hire:hover{
    cursor: pointer;
    color: orange;
}
.b-name{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.b-name >:nth-child(1){
    color: orang;
    font-weight: bold;
    font-size: 3rem;
}
.b-name>:nth-child(2){
    color:#fdc50f;
    font-weight: bold;
    font-size: 3rem;
}
.b-name>:nth-child(3){
    font-weight: 100;
    font-size: 14px;
    color: grey;
    margin-top: 10px;
}
.hire{
    width:6rem;
    height: 2 rem;
}
body{
    font-family: cursive;
}
.i-icons{
  
      margin-top: 3rem;
      display: flex;
      gap : 1rem

}

.i-icons>*{
    transform: scale(0.9);
}
.i-icons>*{
    cursor: pointer;
}



.b-right{
    flex: 1;
    position: relative;
    border-radius: 20px;
    height: 50px;
    width :50px;

}
.b-right>*{
    position: absolute;
    z-index: 2;
}
.b-right>:nth-child(1){

    transform:scale(0.75);
    left:-20%;
}
.img1{
    height: 450px;
    width :350px;
    justify-content: left;
    margin-left: -70;
    display: flex;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 40px;
    border-radius: 30px;


    

}
.img2{
    height: 40px;
    width: 40px;
    justify-content: left;
    margin-left: -50;
    display: flex;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 10px;
    border-radius: 30px;

    justify-content: space-around;
    display: flex;
    box-shadow: boxshadow;
    border-radius: 17px;
    margin-right: 60px;
    margin-top: -500px;
     
     font-size: medium;
   


}
